<h1>
Business info
</h1>
<div>
Owner: {{full_name}}  SSN: {{owner_id}}
</div>
<br/>
<form class="form-horizontal" ng-submit="saveBusiness()">
	<div class="control-group">
		<label class="control-label" for="tax_id">Tax Id</label>
		<div class="controls">
			<input type="text" ng-model="business.tax_id" id="tax_id" required/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" ng-model="business.name" id="name" required/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="address">Address</label>
		<div class="controls">
			<input type="text" ng-model="business.address" id="address" required/>
		</div>
	</div>
  <div>
		<label class="control-label" for="city">City</label>
		<div class="controls">
			<input type="text" ng-model="business.city" id="city" required/>
		</div>
	</div>
  <div>
		<label class="control-label" for="state">State</label>
		<div class="controls">
			<input type="text" ng-model="business.state" id="state" required/>
		</div>
	</div>
  <div>
		<label class="control-label" for="postal_code">Postal Code</label>
		<div class="controls">
			<input type="text" ng-model="business.postal_code" id="postal_code" required/>
		</div>
	</div>
  <div>
		<label class="control-label" for="requested_amount">Requested Amount</label>
		<div class="controls">
			<input type="number" ng-model="business.requested_amount" id="requested_amount" required/>
		</div>
	</div>
  <br/>
	<div class="control-group">
		<input id="save" type="submit" class="btn btn-primary" value='Save' />
	</div>
</form>
